

:root{

    --principal:#0d6efd;
    --secundario:#15325b;
    --claro:#4da3ff;

    --navbar:#cbeaff;

    --fondo:#f4f7fb;
    --blanco:#ffffff;

    --texto:#15325b;
    --texto-secundario:#6b7280;

    --boton:#ffc107;
    --boton-hover:#e0a800;

    --panel:#ffffff;

}


.perfil-user-btn{
    display:flex;
    align-items:center;
    gap:6px;

    background:var(--secundario);
    border:1px solid #d9e4f5;
    border-radius:30px;

    padding:8px 18px;

    color:var(--secundario);
    font-weight:600;

    transition:.25s;
}

.perfil-user-btn:hover{
    background:var(--claro);
    border-color:var(--claro);
    color:#eeeef0;
    transform:translateY(-2px);
    box-shadow:0 6px 15px rgba(13,110,253,.15);
}
 

.logo-buro{
    width: 55px;
    height: 55px;
    object-fit: contain;
}

.logo-texto{
    line-height: 1;
}

.logo-buro-text{
    font-size: 24px;
    font-weight: 800;
    color: var(--principal);
}

.logo-system-text{
    font-size: 14px;
    font-weight: 700;
    letter-spacing: 2px;
    color: var(--secundario);
}

/* NAVBAR */
.navbar {
    background:var(--navbar);
    min-height: 80px;
}

.navbar-brand{
    margin-right: 30px;
    text-decoration: none;
}

.nav-link {
    color: var(--texto) !important;
    font-weight: 500;
    transition: 0.3s;
}

.nav-link:hover {
    color: var(--principal) !important;
}

.nav-link.active {
    background: var(--claro);
    border-radius: 8px;
    color: var(--principal) !important;
}

.login-logo{

    width: 100px;

    filter:
        drop-shadow(
            0 4px 10px rgba(13,110,253,.25)
        );
}


.tema-azul{

    --principal:#0d6efd;
    --secundario:#15325b;
    --claro:#4da3ff;

    --navbar:#cbeaff;

    --fondo:#f4f7fb;

    --texto:#15325b;

    --boton:#ffc107;
    --boton-hover:#e0a800;

    --panel:#ffffff;

}

.tema-verde{

    --principal:#198754;
    --secundario:#0d5132;
    --claro:#53c58b;

    --navbar:#d8f5e3;

    --fondo:#f7fff9;

    --texto:#0d5132;

    --boton:#ffc107;
    --boton-hover:#e0a800;

    --panel:#ffffff;

}
.tema-morado{

    --principal:#6f42c1;
    --secundario:#43256f;
    --claro:#9d79ff;

    --navbar:#efe4ff;

    --fondo:#faf7ff;

    --texto:#43256f;

    --boton:#ffc107;
    --boton-hover:#e0a800;

    --panel:#ffffff;

}

.tema-rojo{

    --principal:#dc3545;
    --secundario:#7a1520;
    --claro:#ff6b79;

    --navbar:#ffe3e6;

    --fondo:#fff7f8;

    --texto:#7a1520;

    --boton:#ffc107;
    --boton-hover:#e0a800;

    --panel:#ffffff;

}

.tema-naranja{

    --principal:#fd7e14;
    --secundario:#9a4d08;
    --claro:#ffb066;

    --navbar:#fff1e4;

    --fondo:#fffaf5;

    --texto:#9a4d08;

    --boton:#c0d855;
    --boton-hover:#146c43;

    --panel:#ffffff;

}

.tema-oscuro{

    --principal:#000000;
    --secundario:#000000;
    --claro:#495057;

    --navbar:#20242b;

    --fondo:#2b3035;

    --texto:#9e9e9e;

    --boton:#ffc107;
    --boton-hover:#e0a800;

    --panel:#343a40;

}
.tema-rosado{

    --principal:#d63384;
    --secundario:#8c2a5d;
    --claro:#f8b4d9;

    --navbar:#fde7f3;

    --fondo:#fff8fc;

    --texto:#6b2145;

    --boton:#aa29aa;
    --boton-hover:#eb7ae1;

    --panel:#ffffff;

}