{% load static %}

<!DOCTYPE html>
<html>

<head>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.7/dist/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.7/dist/js/bootstrap.bundle.min.js"></script>


    <title>Historial</title>

<link
    rel="icon"
    type="image/png"
    href="/static/img/icon2.png">

</head>

<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-white border-bottom shadow-sm">


        <div class="container-fluid">

            <a class="navbar-brand fw-bold" href="/">
                📄 BURÓ SYSTEM
            </a>

            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav">

                <span class="navbar-toggler-icon"></span>

            </button>
            <div class="modal fade" id="limpiarModal">

                <div class="modal-dialog">

                    <div class="modal-content">

                        <div class="modal-header">

                            <h5 class="modal-title">
                                Confirmar eliminación
                            </h5>

                        </div>

                        <div class="modal-body">

                            ¿Desea eliminar TODOS los registros?

                        </div>

                        <div class="modal-footer">

                            <button class="btn btn-secondary" data-bs-dismiss="modal">

                                Cancelar

                            </button>

                            <a href="/limpiar-historial/" class="btn btn-danger">

                                Eliminar Todo

                            </a>
                        </div>

                    </div>

                </div>

            </div>
            <div class="modal fade" id="limpiarFechaModal">

    <div class="modal-dialog">

        <div class="modal-content">

            <div class="modal-header">

                <h5>
                    Eliminar por rango de fechas
                </h5>

            </div>

            <form action="/limpiar-por-fecha/" method="GET">

                <div class="modal-body">

                    <label>Desde</label>

                    <input
                        type="date"
                        name="fecha_inicio"
                        class="form-control mb-3"
                        required>

                    <label>Hasta</label>

                    <input
                        type="date"
                        name="fecha_fin"
                        class="form-control"
                        required>

                </div>

                <div class="modal-footer">

                    <button
                        type="button"
                        class="btn btn-secondary"
                        data-bs-dismiss="modal">

                        Cancelar

                    </button>

                    <button
                        type="submit"
                        class="btn btn-danger">

                        Eliminar

                    </button>

                </div>

            </form>

        </div>

    </div>

</div>
            <div class="collapse navbar-collapse" id="navbarNav">

                <ul class="navbar-nav ms-4">

                    <li class="nav-item">
                        <a class="nav-link active" href="/">
                            Generador
                        </a>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link" href="/historial/">
                            Historial
                        </a>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link" href="#">
                            Reportes
                        </a>
                    </li>
                       <li class="nav-item">
                        {% if request.user.groups.all.0.name == 'Admin' %}

                        <a class="nav-link" href="/crear-usuario/">
                           Usuarios
                        </a>

                        {% endif %}
                    </li>

                </ul>

                <div class="ms-auto d-flex align-items-center gap-3">

                    <span class="text-dark fw-semibold">
                        👤 {{ request.user.username }}
                    </span>

                    <a href="/logout/" class="btn btn-dark rounded-pill px-4">

                        Salir

                    </a>

                </div>

            </div>

        </div>

    </nav>

    <br>

    

    <div class="container mt-4">

        <div class="card shadow">

            <div class="card-header bg-dark text-white">

                <h4 class="mb-0">
                    📋 Historial de Plantillas
                </h4>
                {% if request.user.groups.all.0.name == 'Admin' %}
                <br>
               <!--
                <button
                    class="btn btn-danger"
                    data-bs-toggle="modal"
                    data-bs-target="#limpiarModal">

                    🗑️ Limpiar Historial

                </button>
                -->
                <a
    href="{% url 'exportar_excel' %}?fecha_inicio={{ fecha_inicio|default:'' }}&fecha_fin={{ fecha_fin|default:'' }}"
    class="btn btn-success">

    📊 Exportar Excel

</a>
                <button class="btn btn-warning" data-bs-toggle="modal" data-bs-target="#limpiarFechaModal">

                    🗓️ Eliminar por Fecha

                </button>


                {% endif %}

            </div>
<div class="card-body">

    <form method="GET">

        <div class="row g-3 align-items-end">

            <div class="col-md-4">

                <input
                    type="text"
                    class="form-control"
                    name="q"
                    value="{{ busqueda|default:'' }}"
                    placeholder="🔍 Buscar por gestión, cliente o cédula">

            </div>

            <div class="col-md-3">

                <input
                    type="date"
                    class="form-control"
                    name="fecha_inicio"
                    value="{{ fecha_inicio }}">

            </div>

            <div class="col-md-3">

                <input
                    type="date"
                    class="form-control"
                    name="fecha_fin"
                    value="{{ fecha_fin }}">

            </div>

            <div class="col-md-2">

                <select
                    name="usuario"
                    class="form-select">

                    <option value="">
                        👤 Todos
                    </option>

                    {% for u in usuarios %}
                    <option
                        value="{{ u.username }}"
                        {% if usuario_seleccionado == u.username %}selected{% endif %}>
                        {{ u.username }}
                    </option>
                    {% endfor %}

                </select>

            </div>

            <div class="col-md-2">

                <button
                    type="submit"
                    class="btn btn-primary w-100">

                    Filtrar

                </button>

            </div>

        </div>

    </form>

    <br>

    <!-- CONTADORES -->

    <div class="row">

        <div class="col">
            <div class="card border-primary text-center">
                <div class="card-body p-2">
                    <small>Total</small>
                    <h5>{{ total }}</h5>
                </div>
            </div>
        </div>

        <div class="col">
            <a href="?resultado=PROCEDE" class="text-decoration-none text-dark">
            <div class="card border-success text-center">
                <div class="card-body p-2">
                    <small>Procede</small>
                    <h5>{{ procede }}</h5>
                </div>
            </div>
            </a>
        </div>

        <div class="col">
            <a href="?resultado=NO PROCEDE" class="text-decoration-none text-dark">
            <div class="card border-danger text-center">
                <div class="card-body p-2">
                    <small>No Procede</small>
                    <h5>{{ no_procede }}</h5>
                </div>
            </div>
            </a>
        </div>

        <div class="col">
            <a href="?resultado=RECHAZADOS" class="text-decoration-none text-dark">
            <div class="card border-danger text-center">
                <div class="card-body p-2">
                    <small>Rechazados</small>
                    <h5>{{ rechazados }}</h5>
                </div>
            </div>
            </a>
        </div>

    </div>

</div>

        <div class="table-responsive">

            <table class="table table-striped table-hover align-middle">

                <thead class="table-dark">

                    <tr>

                        <th>Fecha</th>
                        <th>Usuario</th>
                        <th>Gestión</th>
                        <th>Cliente</th>
                        <th>Cédula</th>
                        <th>Distribuidor</th>
                        <th>Resultado</th>
                        <th>Ver respuesta</th>
                        

                    </tr>

                </thead>

                <tbody>

                    {% for item in registros %}

                    <tr>

                        <td>{{ item.fecha|date:"d/m/Y H:i" }}</td>

                        <td>{{ item.usuario }}</td>


                        <td>{{ item.gestion }}</td>

                        <td>{{ item.nombre_cliente }}</td>

                        <td>{{ item.cedula }}</td>

                        <td>{{ item.distribuidor }}</td>

                        <td>

                            {% if item.resultado == "PROCEDE" %}
                            <span class="badge bg-success">
                                {{ item.resultado }}
                            </span>
                            {% else %}
                            <span class="badge bg-danger">
                                {{ item.resultado }}
                            </span>
                            {% endif %}

                        </td>

                        <td>

                            <button class="btn btn-primary btn-sm" data-bs-toggle="modal"
                                data-bs-target="#modal{{ item.id }}">

                                👁 Ver

                            </button>

                        </td>
                      

                    </tr>

                    <!-- Modal -->

                    <div class="modal fade" id="modal{{ item.id }}" tabindex="-1">

                        <div class="modal-dialog modal-lg">

                            <div class="modal-content">

                                <div class="modal-header">

                                    <h5 class="modal-title">
                                        Respuesta Generada
                                    </h5>

                                    <button type="button" class="btn-close" data-bs-dismiss="modal">
                                    </button>

                                </div>

                                <div class="modal-body">

                                    <pre id="respuesta{{ item.id }}">{{ item.respuesta }}</pre>

                                    <button class="btn btn-success mt-3"
                                        onclick="copiarRespuesta('respuesta{{ item.id }}')">

                                        📋 Copiar Respuesta

                                    </button>

                                </div>

                            </div>

                        </div>

                    </div>

                    {% endfor %}

                </tbody>

            </table>
   <nav class="mt-3">

    <div class="d-flex justify-content-center align-items-center gap-3">

        <select
            name="limite"
            class="form-select"
            style="width: 100px;">

            <option value="10">10</option>
            <option value="25">25</option>
            <option value="50" selected>50</option>
            <option value="100">100</option>

        </select>

        <ul class="pagination mb-0">

            {% if registros.has_previous %}
            <li class="page-item">
                <a class="page-link"
                   href="?page={{ registros.previous_page_number }}">
                    Anterior
                </a>
            </li>
            {% endif %}

            <li class="page-item active">
                <span class="page-link">
                    {{ registros.number }}
                </span>
            </li>

            {% if registros.has_next %}
            <li class="page-item">
                <a class="page-link"
                   href="?page={{ registros.next_page_number }}">
                    Siguiente
                </a>
            </li>
            {% endif %}

        </ul>

    </div>

</nav>
<br/>

        </div>

    </div>

    </div>

    </div>
    <br/>

</body>

</html>

<script>





    function copiarRespuesta(id) {

        const texto =
            document.getElementById(id).innerText;

        navigator.clipboard.writeText(texto)
            .then(() => {
                alert("Respuesta copiada al portapapeles");
            });

    }

</script>